
/* Main section */
.main-banner {
    background: url(../orqafon.png) no-repeat top center;
    background-position: center;
    background-size: cover;
    min-height: 890px;
    
}

.main-section {
    padding: 7.5rem 1.87rem; /* 1) 120 / 16 = 7.5rem 2) 30 / 16 = 1.87 rem */
    display: flex;
    justify-content: space-between;
}


.main-section__images {
    text-align: right;
   /* margin-top: 150px;*/
    
}
.main-section__welcome {
    font-size: 1rem; /* 16 / 16 = 1rem */
    font-weight: 400;
    margin-bottom: 1.25rem; /* 20 / 16 = 1.25 rem */
    letter-spacing: 2px;
    color: #797979;
}
.main-section__introduction {
    margin-top: 1.25rem; /* 20 / 16 = 1.25 rem */
    font-size: 3.75rem; /* 60 / 16 = 3.75 rem */
    margin-bottom: 1.25rem; /* 20 / 16 = 1.25 rem */
    font-weight: 500;
    color: #05364e;
}
.main-section__position {
    color: #05364e;
    font-size: 1.5rem; /* 24 / 16 = 1.5 rem */
    font-weight: 300;
    margin-bottom: 1.25rem; /* 20 / 16 = 1.25 rem */
}

.main-section__social__networks a{
    color: #8fa1aa;
    font-size: 1.2rem; 
    display: inline-block;
    margin-right: 1rem;
    cursor:pointer;

}
.main-section__social__networks a:hover i{
    color:#1c44e4 ;
}

.main-section__action  {
    margin-top: 1.87rem;
    /* border: none;
    background-color: #1c44e4;
    color: #ffffff;
    font-weight: 500;
    font-size: 14px;
    padding: 20px 40px;
    cursor: pointer;
    border-radius: 5px; */

}

.main-navigation__item a:hover {
    color: #efb6df
}
.main-navigation__item.active a {
color:#efb6df ;
}
/* Statistics section  */

.statistics {
   /*  padding-top: 6.25rem; */
    display: flex;
}
   
 
    

.statistics__item {
    width: 150px;
    background-color:#f8faff ;
    text-align: center;
    padding: 0.32rem 0.625rem ;
    margin-right: 1.25rem;
}
.statistics__number {
    font-size: 1.69rem;
    margin-bottom: 0.32rem;
    background: linear-gradient(90deg, #1345e6 0%, #ed239f 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}
.statistics__title {
    font-size: 1rem;
    color: #797979;
    font-weight: 300;

}
/* Abaut-me section*/

.abaut-me {
    padding: 6.25rem 0;
    display: flex;
    align-items: center;
}
.abaut-me > div{
    flex: 1;
}
.abaut-me img{
    width: 90%;
}




.abaut-me__description {
    font-size: 0.87rem;
    font-weight: 300;
    color: #797979;
    line-height: 1.69rem;

}

.abaut-me__action {
    margin-top: 6.25rem;
}

/*services section*/
.services {
    padding-top:  6.25rem;
   
}
.services__cards {
    display: flex;
    justify-content: space-between;
}
.service-card {
    padding: 3.75rem 1.87rem;
    background-color: #f8faff;
    margin-right: 3%;
    text-align: center;
    box-sizing: border-box;
    transition: all 0.4s ease 0s;
}
.service-card__title {
    color: #05364d;
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 1.25rem;
    text-transform: uppercase;
}
.service-card__description {
    font-size: 0.87rem;
    line-height: 1.68rem;
    font-weight: 300;
    color: #797979;
}
.service-card__link {
    font-size: 0.81rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #05364d;
    text-decoration: none;

}
.service-card:hover{
    background-color: #5f30ff;
}
.service-card:hover .service-card__title,
.service-card:hover .service-card__description,
.service-card:hover .service-card__link {
    color: #ffffff;
}
/*clients section*/
.clients {
    padding-top:6.25rem;
}
.client-item {
    display: flex;
    align-items: center;
}
.client-item > div {
   flex: 1;
}
.client-item__image img {
    width: 100%;
}
.client-item__info {
   padding-left: 3.12rem;
    
}

.client-item__name {
    font-size: 1.25rem;
    margin-bottom: 0.25rem;

}
.client-item__position {
    font-size: 0.87rem;
    font-weight: 300; 
    color: #5b6d75;

}
.client-item__review {
    font-size: 0.87rem;
    line-height: 1.68rem;
    font-weight: 300;
    color: #5b6d75;

}
.client-item__rate {
    color: #ffd805;
}






/*Portfolio section styles*/ 

.portfolio { 
    padding: 6.25rem 0;
}
.portfolio-items {
    position: relative;
    margin-top: 3.12rem;
}

.portfolio-item {
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 50%;
    padding: 0.62rem;
    box-sizing: border-box;
}
.portfolio-item-2{
    position: absolute;
    right: 0;
    top: 0;
}
.portfolio-item-3{
    position: absolute;
    right: 0;
    top: 322px;
}
.portfolio-item__image {
    width: 100%;
}

 .portfolio-item__overlay {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      z-index: 1;
      transition: all 0.4s ease 0s;
      
 }
 .portfolio-item__info {
     position: absolute;
     bottom: 2.75rem;
     left: 80px;
     color: white;
     visibility: hidden;
     opacity: 0;
     z-index: 1;
     transition: all 0.4s ease 0s;
 }
 .portfolio-item__info a {
     color: white;
     text-decoration: none;

 }
 .portfolio-item:hover .portfolio-item__overlay {
     visibility: visible;
     top: 20px;
     left: 20px;
     background-color: rgba(19,69,230,0.9);
 }
 .portfolio-item:hover .portfolio-item__info {
     visibility: visible; 
     bottom: 1.5rem;
     left: 3.75rem;
     opacity: 1;
 }

/* Blog section styles*/ 
 
 .blog {
     padding-top: 6.25rem;
 }
 .blog-items {
     margin-top: 3.12rem;
     display: flex;
     justify-content: space-between;
 }
 .blog-item {
     overflow: hidden;
     margin-right: 3%;
     box-sizing: border-box;
     
 } 
 .blog-item:hover {
     box-shadow: 0px 10px 20px rgb(5 54 77 / 10%);
     
 }

 .blog-item :hover .blog-item__info {
     background-color: white;
 }
 .blog-item__image {
     overflow: hidden;
 }

 .blog-item__image img {
     width: 100%;
     vertical-align:middle ;
     transition: all 0.4s ease 0s;
    
 }
 .blog-item:hover .blog-item__image img {
     transform: scale(1.1);
     
 }

 .blog-item__info {
     background-color: #f8faff;
     padding: 1.87rem;
     color: #797979;

 }

 .blog-item__main-info span {
     font-size: 0.87rem;
     margin-right: 1.87rem;
     font-weight: lighter;
     
 }
 .blog-item__info i {
     margin-right: 0.31rem;
     

 }
 .blog-item__title {
     font-size: 1.25rem;
     margin-top: 1.25rem;
     margin-bottom: 0.94rem;
     color: #05364d;
     font-weight: 700;
 }
 .blog-item__description {
     line-height: 1.68rem;
     font-weight: lighter;
     font-size: 0.94rem;
 }
 .blog-item__learn-more {
     font-size: 0.81rem ;
     font-weight: 500;
     text-transform: uppercase;
     color: #05364d;
     cursor: pointer;
 }

 .blog-item__learn-more:hover {
     color: #ed239f;
 }


 /* Partners section styles*/

 .partners {
     padding-top: 6.25rem;
     display: flex;
     justify-content: space-between;
 }
.partner {
    padding: 0 1.87rem;
}

@media only screen and (max-width: 991px) {
    
    /* Main section */
    .main-section__images {
        display: none;
    }
    .main-section > div {
        width: 100%;
    }

    /* Statistics section */
    
    .statistics {
        padding-top: 1rem;
        text-align: center;
        justify-content: space-between;
    }
    /* abaut me */
    .abaut-me {
        padding: 1.5rem 0;
    }
    .abaut-me > div {
        width: 100%;
    }
    .abaut-me__image {
        display: none ;
    }
    
    /*services */
    .services {
        padding: 1.5rem 0;
    }
    .services__cards {
        flex-wrap: wrap;
    }
    .service-card {
        flex-basis: 45%;
        margin-bottom: 20px;
    }

    /* clients section */

    .clients {
        padding: 1.5rem 0;
    }
    .client-item {
        flex-direction: column;
    }
    .client-item > div {
        width: 100%;
        float: none;
    }

       /* blog section */
    .blog {
        padding: 1.5rem 0;
    }

    .blog-items {
        flex-wrap: wrap;
    }

    .blog-item {
         flex-basis: 45%;
         margin-bottom: 20px;
    }
     /* partners */ 

     .partners {
        padding: 1.5rem 0;
    }

    .partners {
        flex-direction: column;
    }
    .partner {
        padding: 0;
        text-align: center;
        margin-bottom: 10px;
    }
    
}



@media only screen and (max-width: 767px) {
    /* main section */
    .main-banner {
        background: none;
        min-height: auto;
    }
  

    .main-section__action {
        display: none;
    }


    .main-section__introduction {
        font-size: 3rem;
    }
    
    /* statistics section */ 
    .statistics {
        flex-direction: column;
    }
    .statistics__item {
        width: 100%;
        margin-bottom: 20px;
        margin-right: 0;
        box-sizing: border-box;
    }

    

    /*services section */
    .services {
        padding: 1.5rem 0;
    }
    .service-card {
        flex-basis: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }

    

    /* portfolio +*/
    .portfolio {
        padding: 1.5rem 0;
    }
    .portfolio-item {
        width: 100%;
    }

    .portfolio-item-2,
    .portfolio-item-3 {
        position: static;
    }

    /*Blog*/

    .blog-items {
        flex-direction: column;
    }

    .blog-item {
        margin-right: 0;
        margin-bottom: 20px;
    }


}

